<!DOCTYPE html>

<body>
      <div class="container">
        <!-- Page Content goes here -->
        <h1> History of Belfast Giants </h1>
        <p>The Giants had originated in 2000 and played their first match against ayr on the 1st December. Initially members of the now defunct Superleague, the Giants won the championship in 2001–02 and were play-off champions in 2002–03. With the Superleague's demise, there were concerns that the Giants would not survive because of major financial problems which had developed. Running up debts of £600,000 and facing the threat of liquidation creditors voted to accept 20p in the pound allowing the club to continue. One company was believed to be owed nearly £65,000.</p>
      </div>
    </body>
          
